<html>

<head>
  <style type="text/css">
    body {
      background: white;
      color: black;
    }

    div.container {
      max-width: 500px;
      margin: 100px auto;
      border: 10px solid black;
      padding: 10px;
      text-align: center;
    }

    h4 {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <div class="container">
    <h4>Simpl DevOps</h4>
    <a href="{{simpl_url[image_url]}}" target=_blank> <img src="{{image_url}}" /> </a>
    <p><small>Courtesy: <a href="https://getsimpl.com">Simpl</a></small></p>
  </div>
</body>

</html>
